.doctors h4 
{
    color:#1CC7C1;
    font-weight:bold;
    text-transform: uppercase;
}
.doctor-body p 
{
    font-weight: 700;
    margin-bottom:5px;
}
.doctor-body span 
{
    color:gray;
}
.fas
{
    color:#1CC7C1;
    margin-right:8px;
}